body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
.front{
    background-image: url('image.png');
    float: right;
    height: 821px;
    width: 647.172px;
    position: relative;
    color: #ffffff;
    fill: currentColor;
    font-size: 15px;
}
.content {
    width: 100vw;
    height: 87vh;
    display: flex;
    flex-wrap: wrap;
  }
.big-bird {
    height: 441.06px;
    width: 377.19px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
  } 
.side{
    float: left;
    padding:20px;
    color: rgb(29, 155, 240);
    fill: currentColor;
    font-size: 15px;
    width: 543.828px;
    height: 721px;
}
.bird {
    width: 2.8rem;
    fill: #1da1f2;
    margin: 10px;
   }
.side i{
    color: black;
}
.side h1{
    margin-top: 45px;
    font-size: 64px;
    text-align: left;
    margin-left: 8px;
    white-space: inherit;
    text-decoration: none;
    letter-spacing: -1.2px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
}
.side h2{
    margin-top: -15px;
    align-items: flex-start;
    font-size: 35px;
    text-align: left;
    margin-left: 5px;
    word-spacing: 4px;
    white-space: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
.sign{
    float: left;
    display: block;
    width: 70%;
    padding: 10px;
}
.sign a{
    padding: 13px 100px;
    height: 1.2rem;
    border: 1px solid #dadce0;
    border-radius: 50px;
    background-color: white;
    color: #3c4043;
    text-align: center;
    letter-spacing: 0.25px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    font-family: 'Google Sans',arial,sans-serif;
    font-weight: bold;
}
.sign a:hover{
    background-color: #dadce0;
    transition: .15s ease-in-out;
}
.sign i{
      font-size: 24px;
  }
  .sign .apple{
      color: black;
  }
 .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
 .line{
    width: 70%;
    border-bottom: 1px solid #dadce0;
    text-align: center;
    margin-left: 13px;
 }
 .line span{
    font-size: 14px;
    color: black;
 }
 .email{
    float: left;
    display: block;
    width: 70%;
    padding: 10px;
}
.email a{
    padding: 13px 100px;
    height: 1.2rem;
    border: 1px solid;
    border-radius: 50px;
    background-color: rgb(29, 155, 240);
    color: white;
    text-align: center;
    letter-spacing: 0.25px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.email a:hover{
    background-color: rgb(17, 121, 190);
    transition: .15s ease-in-out;
}
.note{
    float: left;
    text-decoration: none;
    font-size: 12px;
    color: #536471;
    margin-left: 13px;
    width: 70%;
    border-bottom: 1px solid transparent;
    transition: all .2s ease;
}
.note a{
    color: rgb(29, 155, 240);
    border-bottom: 0;
    text-decoration: none;
}
.note a:hover {
    border-bottom: 1px solid rgb(29, 155, 240);
  }
.login{
    float: left;
    display: block;
    width: 70%;
    padding: 10px;
}
.login p{
    font-size: 17px;
    color: black;
    box-sizing: border-box;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login a{
    padding: 13px 100px;
    height: 1.2rem;
    border: 1px solid;
    border-color: rgb(207, 217, 222);
    border-radius: 50px;
    background-color: white;
    color: rgb(29, 155, 240);
    text-align: center;
    letter-spacing: 0.25px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.login a:hover{
    background-color: #dadce0;
    transition: .15s ease-in-out;
}
.footer {
    float: left;
    padding: 16px 16px;
  }
  
  .footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .footer nav a,
  .footer nav div {
    text-decoration: none;
    font-size: 14px;
    color: #536471;
    margin: .3rem .5rem;
    text-transform: capitalize;
    border-bottom: 1px solid transparent;
    transition: all .2s ease;
  }
  
  .footer nav a:hover {
    border-bottom: 1px solid #536471;
  }